.header {
  display: flex;
  background-color: black;
}

.header__logo {
}

.header__logo-image {
  height: 18px;
  width: 83px;
  margin: 30px 39px 28px;
}

.header__menu {
  width: 100%;
  font-size: 16px;
  font-family: Inter;
  color: white;
}

.header__menu-list {
  margin-top: 30px;
  margin-right: 39px;
  list-style: none;
  display: flex;
  gap: 32px;
  justify-content: flex-end;
}

.header__menu-list-item-link {
  text-underline-offset: 2.5px;
  text-decoration-thickness: 1.5px;
}

.header__menu-list-item-link.active-link {
  text-decoration: none;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__title {
    background-color: #2f2c45;
    height: 382px;
}

.main__title-text {
  font-size: 50px;
  color: #fff;
  padding-left: 39px;
  padding-top: 116px;
  padding-right: 39px;
  line-height: 100%;
}

.main__intro {
  margin: 60px 39px 60px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.main__intro-text-accent {
  font-size: 30px;
}

.main__intro-text-basic {
  font-size: 20px;
  line-height: 30px;
}

.main__content {
  background-color: bisque;
  padding: 60px 39px;
}

.main__content-title {
  font-size: 50px;
  padding-bottom: 40px;
}

.main__cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 40px;
  list-style: none;
  background-color: aqua;
}

.main__cards-item {
  width: 330px;
  display: flex;
  flex-direction: column;
  /* background-color: chartreuse; */
  /* border-radius: 20px; */
  border-radius: 20px;
  font-size: 0;
}

.main__cards-item:first-child .main__card-image{
  background-color: #F6C055;
}

.main__cards-item:first-child .main__card-image{
  width: 244px;
  margin: 9px 43px 0;
}

.main__cards-item-content {
  background-color: white;
  margin: 30px;
}

.main__cards-item-content-title {
  font-size: 30px;
}

.main__cards-item-content-text {
  font-size: 20px;
}
